<div id="@reply.comment">
 <%=form_for [@comment.post, @comment, @comment.replies.new], remote: true do |f| %>
   <%= f.label      :reply%>
   <%= f.text_field :content%>
   <%= f.submit "Submit", class: "btn btn-primary btn-sm"%>
 <%end%>
</div>